@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;700&display=swap');
$fonts-headline: "roboto", Arial, Verdana, sans-serif;
$fonts-body: verdana, arial, sans-serif;
$background-color: #ccebd9;
$primary: rgb(97, 170, 184);
$accent1: #f37184;
$accent2: rgba(245, 248, 63, 0.9);
$grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;
